.container {
    display: flex;
}

p {
    text-align: start;
}

.thblock {
    display: block;
}

.inner-con2 {
    display: flex;
    align-items: center;
}

.inner-con3 {
    display: flex;
    align-items: center;
}