<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>

<body>
    <div class="container">
        <table>
            <tr>
                <th>
                    <p>HighBP:</p>
                </th>
                <th>
                    <input type="radio" id="lin_reg" name="fav_language" value="HTML">   <label for="html">Yes</label>
                </th>
                <th>
                    <input type="radio" id="near_nei" name="fav_language" value="CSS">   <label for="css">No</label>
                </th>
            </tr>
            <tr>
                <th>
                    <p>HighChol:</p>
                </th>
                <th>
                    <input type="radio" id="lin_reg" name="fav_language" value="HTML">   <label for="html">Yes</label>
                </th>
                <th>
                    <input type="radio" id="near_nei" name="fav_language" value="CSS">   <label for="css">No</label>
                </th>
            </tr>
            <tr>
                <th>
                    <p>CholCheck:</p>
                </th>
                <th>
                    <input type="radio" id="lin_reg" name="fav_language" value="HTML">   <label for="html">Yes</label>
                </th>
                <th>
                    <input type="radio" id="near_nei" name="fav_language" value="CSS">   <label for="css">No</label>
                </th>
            </tr>
            <tr>
                <th>
                    <p>Smoker:</p>
                </th>
                <th>
                    <input type="radio" id="lin_reg" name="fav_language" value="HTML">   <label for="html">Yes</label>
                </th>
                <th>
                    <input type="radio" id="near_nei" name="fav_language" value="CSS">   <label for="css">No</label>
                </th>
            </tr>
            <tr>
                <th>
                    <p>Stroke:</p>
                </th>
                <th>
                    <input type="radio" id="lin_reg" name="fav_language" value="HTML">   <label for="html">Yes</label>
                </th>
                <th>
                    <input type="radio" id="near_nei" name="fav_language" value="CSS">   <label for="css">No</label>
                </th>
            </tr>
            <tr>
                <th>
                    <p>HeartDiseaseorAttack:</p>
                </th>
                <th>
                    <input type="radio" id="lin_reg" name="fav_language" value="HTML">   <label for="html">Yes</label>
                </th>
                <th>
                    <input type="radio" id="near_nei" name="fav_language" value="CSS">   <label for="css">No</label>
                </th>
            </tr>
            <tr>
                <th>
                    <p>PhysActivity:</p>
                </th>
                <th>
                    <input type="radio" id="lin_reg" name="fav_language" value="HTML">   <label for="html">Yes</label>
                </th>
                <th>
                    <input type="radio" id="near_nei" name="fav_language" value="CSS">   <label for="css">No</label>
                </th>
            </tr>
            <tr>
                <th>
                    <p>Fruits:</p>
                </th>
                <th>
                    <input type="radio" id="lin_reg" name="fav_language" value="HTML">   <label for="html">Yes</label>
                </th>
                <th>
                    <input type="radio" id="near_nei" name="fav_language" value="CSS">   <label for="css">No</label>
                </th>
            </tr>
            <tr>
                <th>
                    <p>Veggies:</p>
                </th>
                <th>
                    <input type="radio" id="lin_reg" name="fav_language" value="HTML">   <label for="html">Yes</label>
                </th>
                <th>
                    <input type="radio" id="near_nei" name="fav_language" value="CSS">   <label for="css">No</label>
                </th>
            </tr>
            <tr>
                <th>
                    <p>HvyAlcoholConsumption:</p>
                </th>
                <th>
                    <input type="radio" id="lin_reg" name="fav_language" value="HTML">   <label for="html">Yes</label>
                </th>
                <th>
                    <input type="radio" id="near_nei" name="fav_language" value="CSS">   <label for="css">No</label>
                </th>
            </tr>
            <tr>
                <th>
                    <p>Sex:</p>
                </th>
                <th>
                    <input type="radio" id="lin_reg" name="fav_language" value="HTML">   <label for="html">Yes</label>
                </th>
                <th>
                    <input type="radio" id="near_nei" name="fav_language" value="CSS">   <label for="css">No</label>
                </th>
            </tr>
        </table>
        <div class="inner-con2">
            <input type="file" id="myFile" name="filename">
        </div>
    </div>
    <br>
    <p>Classifier:</p>
    <div class="container">
        <div class="inner-con3">
            <table>
                <tr>
                    <th>
                        <input type="radio" id="naive" name="fav_language" value="HTML">   <label for="html">Naive Bayes</label>
                    </th>
                    <th>
                        <input type="radio" id="decision" name="fav_language" value="CSS">   <label for="css">Decision Tree</label>
                    </th>
                </tr>
                <br><br>
                <tr>
                    <th><button id="classify">Classify</button></th>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>